{% extends 'mainpage/base.html' %}
{% load staticfiles %}

{% block title %}
GymHouse - Online Virtual Gym
{% endblock title %}

{% block head %}
  <script language="javascript" type="text/javascript" src="{% static 'scripts/p5/p5.min.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'scripts/p5/sketch.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'scripts/p5/particle.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'scripts/p5/rocket.js' %}"></script>
  <script language="javascript" type="text/javascript" src="{% static 'scripts/p5/p5.dom.min.js' %}"></script>
{% endblock head %}


<!-- Overwrite the original menu and test prints from base.html with nothing -->
{% block test %} {% endblock test %}
{% block menu %} {% endblock menu %}

{% block pagetitle %}
    Online Trainer
{% endblock pagetitle %}

{% block content %}

<div class='wrapper' style='width: 90%;margin: 0 auto;padding: 10px;background-color: #EEE;'>
  <div class='canvas' style="background-color: #CCC; width=400px; height=300px">
  </div>
</div>

</div>


{% endblock content %}
