{% extends 'mainpage/base.html' %}

{% block title %}
	GymHouse - Exercise Diary
{% endblock title %}

<!-- Overwrite the original menu and test prints from base.html with nothing -->
{% block test %} {% endblock test %}
{% block menu %} {% endblock menu %}

{% block pagetitle %}
    Exercise Diary
{% endblock pagetitle %}

{% block content %}

<ul>
{% for reg in registrations %}
	<div class="entry">
    	<li>{{ reg.date }} || {{ reg.name }}</li>
    </div>
{% endfor %}
</ul>



{% endblock content %}