.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: #EEE;
}

.wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper div{
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 20px;
  border: 3px solid #777;
  background-color: #DDD;
}

.main-info{
  width: 40%;
  float: left;
  height: 350px;
}

.profile-pic {
  width: 300px;
  margin: 0 auto 10px auto;
}

.show-personal-text {
  margin: auto;
  float:none;
}

.show-personal {
  display: inline;
  float:none;
  padding: 30%
}

.personal-info {
  display: inline;
  float:none;
}

.info-list li {
	padding-left: 110px;
}

.hide_class {
	display: none;
}

.show_class {
	display: block;
}
