{% extends 'mainpage/base.html' %}
{% load staticfiles %}

{% block title %}
GymHouse - Frontpage
{% endblock title %}


<!-- Overwrite the original menu and test prints from base.html with nothing -->
{% block head %} {% endblock head %}
{% block test %} {% endblock test %}

{% block content2 %}

	<!-- Page Loader -->
	<div id="pageloader">
		<div class="loader-item fa fa-spin colored-border"></div>
	</div>

	<!-- Header Area Begins 
	================================================== -->
	<header id="top">
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container no-container">
				<!-- Navbar Header -->
				<div class="navbar-header">
					<!-- Navbar Toogle -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Logo -->
					<a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" alt="Opic!" class="logo"></a>
				</div>
				<!-- Navbar Menu Section -->
				<div class="navbar-collapse collapse">
					<nav>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#top" class="scroll">Home</a></li>
							<li><a href="#services" class="scroll">About Us</a></li>
							<!--<li><a href="#projects" class="scroll">Classes</a></li>-->
							<li><a href="#facts" class="scroll">Classes</a></li>
							<li><a href="#pricing" class="scroll">Pricing</a></li>
							<!--<li><a href="#blog" class="scroll">Blog</a></li>-->
							<li><a href="#team" class="scroll">Team</a></li>
							<li><a href="#contact" class="scroll">Contact</a></li>
							<li><a href="{% url 'authenticate:login' %}" class="scroll">LOGIN</a></li>
							
						</ul>
					</nav>
				</div><!-- Navbar Menu Section Ends -->
			</div>
		</div>
	</header><!-- Header Ends -->


	<!-- Slider Area
	================================================== -->
	<div id="#carousel-slider" class="carousel-slider carousel-slider-home">
		<div class="container">
			<div class="row">
			
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
				
					<!-- Wrapper for slides -->
					<div class="carousel-inner">
					
						<!-- Item One -->
						<div class="item active">
							<div class="col-md-6 slide1-img">
								<!-- Image -->
								<img src="{% static 'images/slider/pexels-photo-116079.jpeg' %}" alt="" class="img-responsive">	
							</div>
							<div class="col-md-6 slide1-text">				
								<!-- Content -->
								<h1 class="fw-600"> We <i class="fa fa-1x fa-heart"></i> Bodybuilding</h1>
								<h6 class="fw-400">
									We are an independent gym that is committed to working with you to gain the results you want. Whether your aim is to loose weight, tone up, build bulk or gain weight we can put together a gym programme or recommend the right classes for you to attend in our studios.
								</h6>
								<span>
									<a href="{% url 'mainpage:main_view_not_logged_in' %}" class="btn btn-cyan">Learn More</a>
								</span>
							</div>
						</div>
						
						<!-- Item Two -->
						<div class="item">
							<div class="col-md-6 slide2-text">
								<h1 class="fw-600">Optimize Your Health</h1>
								<h6 class="fw-600">Our members benefit from a free gym programme and review every month, free studio classes and price reductions on our personal training sessions. As a member you can also access our pool for free and have priority for booking any of the pre-book activities, classes or sessions that we run.
 								</h6>						
								<span>
									<a href="{% url 'mainpage:main_view_not_logged_in' %}" class="btn btn-cyan">Learn More</a>
								</span>
							</div>
							<div class="col-md-6 slide2-img">
								<!-- Image -->
								<img src="{% static 'images/slider/Rowing-C2-rower-at-Progressive-Fitness-Crossfit-Photo.jpg' %}" alt="right" class="img-responsive">
							</div>
						</div>
						
						<!-- Item Three -->
						<div class="item">
							<div class="col-md-6 slide3-img">
								<!-- Image -->
								<img src="{% static 'images/slider/TYKI_FIT_PACKAGE.jpg' %}" alt="right" class="img-responsive">
							</div>
							<div class="col-md-6 slide3-text">					
								<!-- Content -->
								<h1 class="fw-600"> Fitness Is the key </h1>
								<h6 class="fw-400">
									If you don’t want to commit to being a member you can still use all of our facilities but you will need to have an introduction session before using the facilities to ensure that Health and Safety requirements are met – you don’t want to injure yourself on your first visit and ruin all your good intentions!
								</h6>
								<span>
									<a href="{% url 'mainpage:main_view_not_logged_in' %}" class="btn btn-cyan">Learn More</a>
								</span>					
							</div>
						</div><!-- Item Ends -->
					</div>
				</div>					
			</div>
		</div>
	</div><!-- Slider Ends -->


	<!-- Services Area
	================================================== -->
	<section id="services"> 		  
		<div class="container">
			<div class="row">
			
				<div class="col-md-12">					
					<!-- Title -->
					<h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">About Us</h2>
			   		<!-- Devider -->
					<div class="devider">
						<div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
						<div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
							<div class="devider-round-in devider-round-in-sea-green"></div>
						</div>
					</div>
			   		<!-- Descriptions -->
					<p class="text-center lead animated" data-animation="fadeIn" data-animation-delay="400">
						We provide <span class="span-color">you</span> the tools that you need.
					</p>
					<p class="title-description text-center animated" data-animation="fadeIn" data-animation-delay="400">
						Our gym facilitates a plethora of top quality workout equipment. No matter your preference, we carry the proper tools for a light workout to heavy lifting. From our classes, everybody finds their favourite, be it yoga or just plain supervised exercising.
					</p>				
				</div><!-- end col-md-12 -->
		  
				<!-- CMS Website Services -->
				<div class="col-md-12 services-inner">
				 
					<div class="col-md-6 pull-right">
					
					
					
						<img src="{% static 'images/bodybuilder.jpeg' %}" alt="" class="img-responsive pull-right animated" data-animation="bounceIn" data-animation-delay="700">            
					</div><!-- end col-xs-6" -->
				  
					<div class="col-md-6 pull-left animated" data-animation="fadeIn" data-animation-delay="400">
						<h4 class="fw-200"><span class="fw-600">FITNESS </span> AND HEALTH</h4>
						<h5 class="fw-300">
							We employ expert <span class="span-color"> trainers</span> to maximize your fitness and health.
						</h5>
						<p>
							Our experts have years of experience in different fields of expertise. This ensures that you will always get professional guidance if you need it. We require vigorous tests from our staff, and hire only the best trainers.
						</p>
						<!--
						<p><a href="#" class="services-learn-more">Learn more this service <i class="flaticon-arrow209"></i></a></p>-->
					</div><!-- end col-xs-6" -->	 
				  
				</div><!-- end col-md-12 -->
							
				<!-- E-Commerse Website Services -->
				<div class="col-md-12 services-inner">
				 
					<div class="col-md-6">
					
						
						<img src="{% static 'images/runners-silhouettes-athletes-fitness-39308.jpeg' %}" alt="" class="img-responsive pull-left animated" data-animation="bounceIn" data-animation-delay="700">						 
							   
					</div><!-- end col-xs-6" -->
				  
					<div class="col-md-6 pull-right animated" data-animation="fadeIn" data-animation-delay="400">
						<h4 class="fw-200"><span class="fw-600">LIGHTWEIGHT </span> ATHLETICS</h4>
						<h5 class="fw-300">
							Gain a little <span class="span-color"> skip</span> in your steps.
						</h5>
						<p>
							Everybody nowadays wishes to get into shape. And they should! Not because of media beauty standards but for their health. We provide you with all the tools necessary for quick and healthy weightloss.
						</p>
						<!--<p><a href="#" class="services-learn-more">Learn more this service <i class="flaticon-arrow209"></i></a></p> -->
					
				  </div><!-- end col-md-6" -->    
				  
				</div><!-- end col-md-12 -->
			
			
				<!-- HTML Website Services -->
				<div class="col-md-12 services-inner">
				 
					<div class="col-md-6 pull-right">
					
						<!-- html icon -->
					
						<!-- html icon -->
					
						<img src="{% static 'images/pexels-photo.jpg' %}" alt="" class="img-responsive pull-right animated" data-animation="bounceIn" data-animation-delay="700">
							 
					</div><!-- end col-xs-6" -->
				  
					<div class="col-md-6 pull-left animated" data-animation="fadeIn" data-animation-delay="400">
						<h4 class="fw-200"><span class="fw-600">HEALTH</span> IS WEALTH</h4>
						<h5 class="fw-300">
							Gain more <span class="span-color"> years</span> by moving.
						</h5>
						<p>
							Obesity kills, that's for sure. But even if you look thin you can be in bad shape on the inside! Doctors all around the world suggest that people moved at least two hours vigorously per day. Are you doing that?
						</p>
						<!--
						<p><a href="#" class="services-learn-more">Learn more this service <i class="flaticon-arrow209"></i></a></p>-->
					</div><!-- end col-xs-6" -->					   
				  
				</div><!-- end col-md-12 -->
			
			</div><!-- end row -->			  
		</div><!-- end container -->		  
	</section><!-- end services -->


	<!-- Project Area
	================================================== -->
	<!--
	<section id="projects" class="bg-blue">	  
		<div class="container">
			
			<div class="row">							  
				<div class="col-md-12">

					<h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Featured Classes</h2>

					<div class="devider">
						<div class="devider-line-h devider-line-h-dark-blue animated" data-animation="zoomIn" data-animation-delay="1000"></div>
						<div class="devider-round-out devider-round-out-dark-blue animated" data-animation="zoomIn" data-animation-delay="700">
							<div class="devider-round-in devider-round-in-dark-blue"></div>
						</div>
					</div>
			-->
	                <!-- Description -->
	        <!--
					<p class="text-center lead animated" data-animation="fadeIn" data-animation-delay="400">
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur
					</p>
					<p class="text-center animated" data-animation="fadeIn" data-animation-delay="400">
						Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore 
						magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>
			
		


			
		</div>			
	</section>
	-->

	<!-- Fun Fact Area
	================================================== -->
	<section id="facts" class="bg-dark-blue">  

		<div class="container">
			<div class="row">
				<div class="col-md-12 home-title">
					<!-- Title -->
					<h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Our Class Schedule</h2>
			   		<!-- Devider -->
					<div class="devider">
						<div class="devider-line-h devider-line-h-dark-blue animated" data-animation="zoomIn" data-animation-delay="1000"></div>
						<div class="devider-round-out devider-round-out-dark-blue animated" data-animation="zoomIn" data-animation-delay="700">
							<div class="devider-round-in devider-round-in-dark-blue"></div>
						</div>
					</div>
	                <!-- Description -->
					<p class="text-center lead animated" data-animation="fadeIn" data-animation-delay="400">
						With over a hundred different classes per year, and dozens of events and seminars, everybody has a reason to use our gym.
					</p>
					<!--
					<p class="text-center animated" data-animation="fadeIn" data-animation-delay="400">
						Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore 
						magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
					-->
				</div>
	  			<!-- Fun Fact Box 1 -->
	  			<div class="class-schedule schedule-page padding-space">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-12 col-md-12 col-sm-12">
	                    <div class="class-schedule-wrap">
	                        <!-- Tabs -->
	                        <ul id="myTab" class="nav nav-tabs">
	                            <li class=""><a href="#monday" data-toggle="tab" aria-expanded="false">Monday</a></li>
	                            <li class=""><a href="#tuesday" data-toggle="tab" aria-expanded="false">Tuesday</a></li>
	                            <li class=""><a href="#wednesday" data-toggle="tab" aria-expanded="false">Wednesday</a></li>
	                            <li class=""><a href="#monday" data-toggle="tab" aria-expanded="false">Thursday</a></li>
	                            <li class="active"><a href="#tuesday" data-toggle="tab" aria-expanded="true">Friday</a></li>
	                            <li class=""><a href="#wednesday" data-toggle="tab" aria-expanded="false">Saturday</a></li>
	                            <li class=""><a href="#monday" data-toggle="tab" aria-expanded="false">Sunday</a></li>
	                        </ul>
	                        <div id="myTabContent" class="tab-content class-schedule-tab">
	                            <div class="tab-pane fade" id="monday">
	                                <ul class="odd">
	                                    <li>Yoga</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Robert Smith</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="even">
	                                    <li>Running</li>
	                                    <li>09.00 am - 12.00 pm</li>
	                                    <li>Petter john</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="odd">
	                                    <li>Gym</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Kazi Fahim</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="even">
	                                    <li>Free Hand</li>
	                                    <li>09.00 am - 12.00 pm</li>
	                                    <li>Jessy Reo</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="odd">
	                                    <li>Weight Lifting</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Zara Keron</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="even">
	                                    <li>Ftiness</li>
	                                    <li>09.00 am - 12.00 pm</li>
	                                    <li>Jack Sparrow</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                            </div>
	                            <div class="tab-pane fade active in" id="tuesday">
	                                <ul class="odd">
	                                    <li>Yoga</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Robert Smith</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="even">
	                                    <li>Running</li>
	                                    <li>09.00 am - 12.00 pm</li>
	                                    <li>Petter john</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="odd">
	                                    <li>Gym</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Kazi Fahim</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="even">
	                                    <li>Free Hand</li>
	                                    <li>09.00 am - 12.00 pm</li>
	                                    <li>Jessy Reo</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="odd">
	                                    <li>Weight Lifting</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Zara Keron</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                            </div>
	                            <div class="tab-pane fade" id="wednesday">
	                                <ul class="odd">
	                                    <li>Yoga</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Robert Smith</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="even">
	                                    <li>Running</li>
	                                    <li>09.00 am - 12.00 pm</li>
	                                    <li>Petter john</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="odd">
	                                    <li>Gym</li>
	                                    <li>10.00 am - 12.00 pm</li>
	                                    <li>Kazi Fahim</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                                <ul class="even">
	                                    <li>Free Hand</li>
	                                    <li>09.00 am - 12.00 pm</li>
	                                    <li>Jessy Reo</li>
	                                    <li><a href="#">Join Now!</a></li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
					  
			</div><!-- end row -->   
		</div><!-- end container -->		
	</section>

	<!-- Pricing Area
	================================================== -->
	<section id="pricing">
		<div class="container">
			<div class="row">		  
				
				<div class="col-md-12 title-top">							        
			 		<!-- Title -->
					<h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Our Membership Prices</h2>
		   			<!-- Devider -->
					<div class="devider">
						<div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
						<div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
							<div class="devider-round-in devider-round-in-sea-green"></div>
						</div>
					</div>
		   			<!-- Description -->
					<p class="text-center lead animated" data-animation="fadeIn" data-animation-delay="400">
	                	Pay only for what <span class="span-color">you</span> want.
	                </p>
					<p class="text-center title-description animated" data-animation="fadeIn" data-animation-delay="400">
						We offer three different levels of membership so everyone can find their preference. Are you a casual gym-goer? Settle for silver! A hardcore fitness enthusiasts? Make the best of our services and become a platinum member!
					</p>			   
				</div><!-- end col-md-12 -->
		  
		  		<!-- Pricing Inner -->
				<div class="col-md-12 pricing-inner">		
					
					<!-- Pricing Box 1 -->		
					<div class="col-md-4 col-sm-4 animated" data-animation="zoomIn" data-animation-delay="700">
						<div class="price-left bg-green bg-green-shadow text-center">
							<!-- Title -->
							<h4 class="white fw-200"><span class="fw-500">Silver</span><br>Membership</h4>
			  				<!-- Price -->
							<div class="circle circle-left">
								<div class="devider-round-bg">									</div>
								<div class="devider-round-out devider-round-out-sea-green">
									<div class="devider-round-in devider-round-in-sea-green"></div>
								</div>
								<div class="devider-round-out devider-round-out-sea-green new">
									<div class="devider-round-in devider-round-in-sea-green"></div>
								</div>
								<h6 class="fw-400 white">Starting From</h6>
								<span class="fw-500 white price">$39</span>								</div>
			  				<!-- Price Details -->
							<ul class="text-center white">
								<li>Access to site with loads of info</li>
								<li>Access to dynamic scheduler</li>
								<li>One free class per week</li>
								<li>Join our thriving fitness community</li>
							</ul>
			  				<!-- Order Now -->
							<a href="#" class="btn btn-green">ORDER NOW</a>
						</div>
					</div><!-- end col-md-4 -->
					
					<!-- Pricing Box 2 -->
					<div class="col-md-4 col-sm-4 animated" data-animation="zoomIn" data-animation-delay="400">
						<div class="price-center bg-blue bg-blue-shadow text-center">
							<!-- Title -->
							<h4 class="white fw-200"><span class="fw-500">Gold</span><br>Membership</h4>
			  				<!-- Price -->
							<div class="circle circle-center">
								<div class="devider-round-bg">									</div>
								<div class="devider-round-out devider-round-out-sea-green">
									<div class="devider-round-in devider-round-in-sea-green"></div>
								</div>
								<div class="devider-round-out devider-round-out-sea-green new">
									<div class="devider-round-in devider-round-in-sea-green"></div>
								</div>
								<h6 class="fw-400 white">Starting From</h6>
								<span class="fw-500 white price">$59</span>								</div>
			  				<!-- Price Details -->
							<ul class="text-center white fw-200">
								<li>Record your progress</li>
								<li>Access to fitness diary</li>
								<li>Price discounts</li>
								<li>Three free classes per week</li>
							</ul>
			  				<!-- Order Now -->
							<a href="#" class="btn btn-blue">ORDER NOW</a>
						</div>
					</div><!-- end col-md-4 -->
		  			
					<!-- Pricing Box 3 -->
					<div class="col-md-4 col-sm-4 animated" data-animation="zoomIn" data-animation-delay="700">
						<div class="price-right bg-red bg-red-shadow text-center">
							<!-- Title -->
							<h4 class="white fw-400"><span class="fw-500">Platinum</span><br>Membership</h4>
			  				<!-- Price -->
							<div class="circle circle-right">
								<div class="devider-round-bg">									</div>
								<div class="devider-round-out devider-round-out-sea-green">
									<div class="devider-round-in devider-round-in-sea-green"></div>
								</div>
								<div class="devider-round-out devider-round-out-sea-green new">
									<div class="devider-round-in devider-round-in-sea-green"></div>
								</div>
								<h6 class="fw-300 white">Starting From</h6>
								<span class="fw-500 white price">$199</span>								</div>
			  				<!-- Price Details -->
							<ul class="text-center white fw-200">
								<li>Access to Online Trainer</li>
								<li>Personalized fitness regime</li>
								<li>Possibility for becoming a trainer</li>
								<li>MAD GAINS</li>
							</ul>
			  				<!-- Order Now -->
							<a href="#" class="btn btn-red">ORDER NOW</a>
						</div>
					</div><!-- end col-md-4 -->		  
		  
				</div><!-- end col-md-12 -->	
								
			</div><!-- end row -->
		</div><!-- end container -->		
	</section>

	<!-- Blog Area
	================================================== -->
	<!--
	<section id="blog" class="bg-red">

		<div class="container">
			<div class="row">
	  
				<div class="col-md-12 home-title">        
					<h2 class="text-center white animated" data-animation="fadeIn" data-animation-delay="400">Latest News</h2>
		   
					<div class="devider">
						<div class="devider-line-h devider-line-h-dark-red animated" data-animation="zoomIn" data-animation-delay="1000"></div>
						<div class="devider-round-out devider-round-out-dark-red animated" data-animation="zoomIn" data-animation-delay="700">
							<div class="devider-round-in devider-round-in-dark-red"></div>
						</div>
					</div>
		   
					<p class="text-center lead animated" data-animation="fadeIn" data-animation-delay="400">
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur
					</p>
					<p class="text-center title-description op08 animated" data-animation="fadeIn" data-animation-delay="400">
						Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore 
						magna aliqua ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>
		   
				</div>--><!-- end col-md-12 -->
		<!--
				<div class="col-md-12 load-more active">
		-->
					<!-- Blog 1 -->
		<!--
					<div class="col-md-4 col-sm-4 animated" data-animation="zoomIn" data-animation-delay="500">
						<div class="blog-container">
							<img src="{% static 'images/blog/1.jpg' %}" alt="photo blog" class="img-responsive pull-left blog-image">
							<h6><a href="#">News Title One</a></h6>
							<p>
								Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.Ut enim ad minim ven iamquis nostrud exercitation
							</p>
				
							
	                        
							<div class="clearfix"></div>
						</div>                        
					</div>--><!-- end col-md-4 -->
		  			
					<!-- Blog 2 -->
		<!--
					<div class="col-md-4 col-sm-4 animated" data-animation="zoomIn" data-animation-delay="300">
						<div class="blog-container">
							<img src="{% static 'images/blog/2.jpg' %}" alt="photo blog" class="img-responsive pull-left blog-image">
							<h6><a href="#">News Title Two</a></h6>
							<p>
								Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.Ut enim ad minim ven iamquis nostrud exercitation
							</p>
				
						
						  	<div class="clearfix"></div>
						</div>                        
					</div>--><!-- end col-md-4 -->
					
					<!-- Blog 3 -->
		<!--
					<div class="col-md-4 col-sm-4 animated" data-animation="zoomIn" data-animation-delay="500">
						<div class="blog-container">
							<img src="{% static 'images/blog/3.jpg' %}" alt="photo blog" class="img-responsive pull-left blog-image">
							<h6><a href="#">News Title Three</a></h6>
							<p>
								Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.Ut enim ad minim ven iamquis nostrud exercitation
							</p>
				
						
	                        
						  	<div class="clearfix"></div>
						</div>                        
					</div>--><!-- end col-md-4 -->
		
				<!--</div>--><!-- end col-md-12 -->
				
				<!-- Blog Bottom Begins -->
		<!--
				<div class="col-md-12 load-more">
		-->
					<!-- Blog 4 -->
		<!--
					<div class="col-md-4 col-sm-4">
						<div class="blog-container">
							<img src="{% static 'images/blog/1.jpg' %}" alt="photo blog" class="img-responsive pull-left blog-image">
							<h6><a href="#">News Title One</a></h6>
							<p>
								Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.Ut enim ad minim ven iamquis nostrud exercitation
							</p>
				
						
	                        
							<div class="clearfix"></div>
						</div>
					</div>
		-->
					<!-- Blog 5 -->
		<!--
					<div class="col-md-4 col-sm-4">
						<div class="blog-container">
							<img src="{% static 'images/blog/2.jpg' %}" alt="photo blog" class="img-responsive pull-left blog-image">
							<h6><a href="#">News Title One</a></h6>
							<p>
								Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.Ut enim ad minim ven iamquis nostrud exercitation
							</p>
				
							
							<div class="clearfix"></div>
						</div>
					</div>
		-->
					<!-- Blog 6 -->
		<!--
					<div class="col-md-4 col-sm-4">
						<div class="blog-container">
							<img src="{% static 'images/blog/3.jpg' %}" alt="photo blog" class="img-responsive pull-left blog-image">
							<h6><a href="#">News Title One</a></h6>
							<p>
								Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua.Ut enim ad minim ven iamquis nostrud exercitation
							</p>
				
						
	                        
							<div class="clearfix"></div>
						</div>
					</div>
		-->
				<!--</div>--><!-- Blog Bottom Ends -->
				
				<!-- Load More Post Button -->
		<!--
				<div class="col-md-12 load-post text-center">
					<button class="btn load-posts" type="button">Load More Post <i class="flaticon-arrow209"></i></button>
				</div>--><!-- Load More Button Ends -->			
		<!--
			</div>--><!-- end row -->
		<!--</div>--><!-- end container -->
	  
	</section>

	<!-- Newsletter Area
	================================================== -->
	<!--
	<section id="newsletter" class="bg-yellow">
		<form name="newsletter" action="#" method="post" class="animated" data-animation="zoomIn" data-animation-delay="300">
			<input type="text" placeholder="Enter your email address here to subscribe our update, and press Enter!">
		</form>
	</section>
	-->
	<!-- About Us And Team Area
	================================================== -->
	<section id="team">

		<div class="container">
			<div class="row">

				<div class="col-md-12">        
					<h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Expert Trainers</h2>
	   
					<div class="devider">
						<div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
						<div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
							<div class="devider-round-in devider-round-in-sea-green"></div>
						</div>
					</div>
	   
					<p class="text-center lead op08 animated" data-animation="fadeIn" data-animation-delay="400">
						Join our <span class="span-color">professional</span> entourage to better yourself!
					</p>
					<p class="text-center title-description animated" data-animation="fadeIn" data-animation-delay="400">
						From our array of experts you'll be guaranteed to find someone who clicks with you. Embark on a physical journey together with someone who always has your back!
					</p>
	   
				</div><!-- end col-md-12 -->      

			</div><!-- end row -->
		</div><!-- end container -->

		<!-- team start -->    
		<div class="col-md-12"> 
			<div class="col-md-6 bg-dark-blue animated" data-animation="fadeIn" data-animation-delay="500">
				<img src="{% static 'images/team/1.png' %}" alt="photo" class="pull-right img-responsive">
				<div class="clearfix"></div>
		  </div><!-- end col-md-6--> 

			<div class="col-md-6 bg-cyan team-container animated" data-animation="fadeIn" data-animation-delay="300">
				<ul class="team-social">
					<li><a href="#" class="dark-cyan"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-skype"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-flickr"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-html5"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#" class="dark-cyan"><i class="fa fa-rss"></i></a></li>
				</ul>
				<p class="team-content pull-left dark-cyan">      	 
					I discovered yoga when I was twenty years old. After that, nothing's been the same. I practice every day to enlighten myself more. After feeling that I had achieved what mere mortals could only dream for, I decided to become a trainer here and spread Yoga.
				</p>
				<div class="team-name pull-left">
					<i class="fa fa-camera fa-2x white pull-left"></i>
					<h5 class="white">Tara Riley</h5>
					<span class="team-title dark-cyan pull-left">Yoga Expert</span>
				</div>
			
				<div class="clearfix"></div>
			</div><!-- end col-md-6-->

		</div><!-- end col-md-12--> 

		<div class="col-md-12">   
			<div class="col-md-6 bg-green team-container animated" data-animation="fadeIn" data-animation-delay="300">
				<ul class="team-social text-right">
					<li><a href="#" class="dark-green"><i class="fa fa-facebook"></i></a></li> 
					<li><a href="#" class="dark-green"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="dark-green"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="dark-green"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="dark-green"><i class="fa fa-skype"></i></a></li>
					<li><a href="#" class="dark-green"><i class="fa fa-flickr"></i></a></li>
					<li><a href="#" class="dark-green"><i class="fa fa-html5"></i></a></li>
					<li><a href="#" class="dark-green"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#" class="dark-green"><i class="fa fa-rss"></i></a></li>
				</ul>
				<p class="team-content pull-right text-right dark-green">      	 
					I LIFT WEIGHTS. I EAT PROTEIN. GOTTA HAVE GAINS! YOU EAT PROTEIN TOO. 
				</p>
				<div class="team-name pull-right">
					<i class="fa fa-desktop fa-2x white pull-right"></i>
					<h5 class="white text-right">Terry Rogers</h5>
					<span class="team-title dark-green text-right">Body Builder</span>
				</div>     
				
				<div class="clearfix"></div>
			</div><!-- end col-md-6--> 

			<div class="col-md-6 bg-dark-blue animated" data-animation="fadeIn" data-animation-delay="500">
				<img src="{% static 'images/team/2.png' %}" alt="photo" class="pull-left img-responsive">
				<div class="clearfix"></div>
		  </div><!-- end col-md-6--> 
		
		</div><!-- end col-md-12--> 

		<div class="col-md-12">
			<div class="col-md-6 bg-dark-blue animated" data-animation="fadeIn" data-animation-delay="500">
				<img src="{% static 'images/team/3.png' %}" alt="photo" class="pull-right img-responsive">
				<div class="clearfix"></div>
		  </div><!-- end col-md-6--> 

			<div class="col-md-6 bg-blue team-container animated" data-animation="fadeIn" data-animation-delay="300">
				<ul class="team-social">
					<li><a href="#" class="dark-blue"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-skype"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-flickr"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-html5"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#" class="dark-blue"><i class="fa fa-rss"></i></a></li>
				</ul>
				<p class="team-content pull-left dark-blue">      	 
					Ever since I was 20, I could feel my body just withering away. I knew I needed to do something so I started training! Today, I'm glad I took the path that my body needed so I can further my skills everyday.
				</p>
				<div class="team-name pull-left">
					<i class="fa fa-code fa-2x white pull-left"></i>
					<h5 class="white">Tina Wilton</h5>
					<span class="team-title dark-blue pull-left">Running/Fitness</span>
				</div>
				
				<div class="clearfix"></div>
			</div><!-- end col-md-6-->  
		</div><!-- end col-md-12-->  

		<div class="col-md-12"> 
			<div class="col-md-6 bg-purple team-container animated" data-animation="fadeIn" data-animation-delay="300">
				<ul class="team-social text-right">
					<li><a href="#" class="dark-purple"><i class="fa fa-facebook "></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-skype"></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-flickr"></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-html5"></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#" class="dark-purple"><i class="fa fa-rss"></i></a></li>
				</ul>
				<p class="team-content pull-right text-right dark-purple">      	 
					Don't let my blue eyes confuse you, I'm a hardcore lifter. I started working out in my dad's garage when I was 10. We lived on a farm so I restled with pigs by day, and bent steel rods by night. Never thought I'd become a trainer but hey! Here we are.
				</p>
				<div class="team-name pull-right">
					<i class="fa fa-gamepad fa-2x white pull-right"></i>
					<h5 class="white text-right">Token Nowel</h5>
					<span class="team-title dark-purple text-right">Weight Lifting</span>
				</div>
				
				<div class="clearfix"></div>
			</div><!-- end col-md-6-->  

			<div class="col-md-6 bg-dark-blue animated" data-animation="fadeIn" data-animation-delay="500">
				<img src="{% static 'images/team/4.png' %}" alt="photo" class="pull-left img-responsive">
				<div class="clearfix"></div>
		  </div><!-- end col-md-6-->        

		</div>  <!-- end col-md-12 --> 

		<!-- team are end -->
		<div class="clearfix"></div>

	</section>  

	<!-- Contact Us Area
	================================================== -->
	<section id="contact">

		<div class="container">
			<div class="row">
	  
				<div class="col-md-12">        
					<h2 class="text-center animated" data-animation="fadeIn" data-animation-delay="400">Get In Touch</h2>
		   
					<div class="devider">
						<div class="devider-line-h devider-line-h-sea-green animated" data-animation="zoomIn" data-animation-delay="1000"></div>
						<div class="devider-round-out devider-round-out-sea-green animated" data-animation="zoomIn" data-animation-delay="700">
							<div class="devider-round-in devider-round-in-sea-green"></div>
						</div>
					</div>
		   
					<p class="text-center lead op08 animated" data-animation="fadeIn" data-animation-delay="400">
						Our gym is located in the <span class="span-color">heart</span> of the city
					</p>
					<p class="text-center title-description animated" data-animation="fadeIn" data-animation-delay="400">
						No matter how far you come from, You will find joy at our establishment. And hey, if you're a metropolitan, why not warm up your muscles and run here!
					</p>
		   
					<div class="clearfix"></div>
		   
				</div><!-- end col-md-12 -->
		
				<div class="col-md-12">
					<div class="col-md-6 animated" data-animation="fadeIn" data-animation-delay="300">
						<form name="contactform" id="contactForm" method="post" action="send.php">
							<input type="text" name="senderName" id="senderName" placeholder="Your Name" class="pull-right input-text" required>
							<input type="email" name="senderEmail" id="senderEmail" placeholder="Your E-mail" class="pull-right input-text" required>
							<input type="text" name="senderWebsite" id="senderWebsite" placeholder="Your Website" class="pull-right input-text" required>
							<textarea name="message" id="message" class="text-area pull-right" required></textarea>
							<input type="submit" name="sendMessage" id="sendMessage" value="Send Message" class="btn-msg pull-right white">	
						</form>
	                    
	                    <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please wait...</p></div>
	                    <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
	                    <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your message. Please try again.</p></div>
	                    <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>
			
						<div class="clearfix"></div>
					</div><!-- end col-md-6-->
		  
					<div id="contacInfo" class="col-md-6">
		  
						<div class="contact-info animated" data-animation="fadeInUp" data-animation-delay="300">
							<i class="fa fa-4x fa-mobile pull-left text-center"></i>
							<h6 class="fw-200">Phone Number</h6>
							<h5>12345678</h5>
						</div>
			
						<div class="contact-info animated" data-animation="fadeInUp" data-animation-delay="500">
							<i class="fa fa-3x fa-envelope pull-left text-center"></i>
							<h6 class="fw-200">General Enquiries</h6>
							<h5>info@gymhouse.com</h5>
						</div>
			
						<div class="contact-info animated" data-animation="fadeInUp" data-animation-delay="700">
							<i class="fa fa-3x fa-map-marker pull-left text-center"></i>
							<h6 class="fw-200">Address Location</h6>
							<h5>Otaniemi 99<br>Finland</h5>
						</div>
			
						<div class="contact-info animated" data-animation="fadeInUp" data-animation-delay="900">
							<i class="fa fa-3x fa-skype pull-left"></i>
							<h6 class="fw-200">Skype Account</h6>
							<h5>Gymhouse.skype</h5>
						</div>
			
					</div><!-- end col-md-6-->
		  
				</div><!-- end col-md-12 -->
		
			</div><!-- end row -->
		</div><!-- end container -->

	</section>

	<!-- Socials Area
	================================================== -->
	<section id="socials" class="bg-dark-blue">

		<div class="container">
			<div class="row">
				<div class="col-md-12">
			
					<ul class="text-center footer-social">
						<li class="animated" data-animation="zoomIn" data-animation-delay="300">
	                    	<a href="#" class="white"><i class="fa fa-twitter fa-3x"></i></a>
	                    </li>
						<li class="animated" data-animation="zoomIn" data-animation-delay="300">
	                    	<a href="#" class="white"><i class="fa fa-facebook fa-3x"></i></a>
	                    </li>
						<li class="animated" data-animation="zoomIn" data-animation-delay="300">
	                    	<a href="#" class="white"><i class="fa fa-pinterest fa-3x"></i></a>
	                    </li>
						<li class="animated" data-animation="zoomIn" data-animation-delay="300">
	                    	<a href="#" class="white"><i class="fa fa-linkedin fa-3x"></i></a>
	                    </li>
						<li class="animated" data-animation="zoomIn" data-animation-delay="300">
	                    	<a href="#" class="white"><i class="fa fa-google-plus fa-3x"></i></a>
	                    </li>
						<li class="animated" data-animation="zoomIn" data-animation-delay="300">
	                    	<a href="#" class="white"><i class="fa fa-vimeo-square fa-3x"></i></a>
	                    </li>
						<li class="animated" data-animation="zoomIn" data-animation-delay="300">
	                    	<a href="#" class="white"><i class="fa fa-youtube fa-3x"></i></a>
	                    </li>
					</ul>
			
				</div><!-- end col-md-12 -->
			</div><!-- end row -->
		</div><!-- end container -->

	</section>


	<!-- Copyright Area
	================================================== -->
	<section id="copyright" class="bg-cyan">
		<div class="container">
			<div class="row">
				<div class="col-md-12">        
					<p class="text-center copyright">
						Copyright 2016 <a href="#"> GymHouse</a> All rights reserved.
					</p>        
				</div>
			</div>
		</div>	
	</section>    





{% endblock content2 %}