{% extends 'mainpage/base.html' %}
{% load staticfiles %}

{% block title %}
GymHouse - Services
{% endblock title %}

{% block head %}
	<link href="{% static 'css/trainers.css' %}" rel="stylesheet">
{% endblock head %}

<!-- Overwrite the original menu and test prints from base.html with nothing -->
{% block test %} {% endblock test %}
{% block menu %} {% endblock menu %}

{% block pagetitle %}
    Services
{% endblock pagetitle %}

{% block content %}

	<div class='servicelist'>
		<div>Supervised Gym </div>
		<div>High Intensity Interval Training </div>
		<div>Lifting Basics </div>
		<div>Kettleball Training</div>
		<div>Pilates </div>
		<div>Yoga </div>
		<div>Zumba </div>
		<div>Pet Acrobatics </div>
		<div>Salsa </div>
		<div>Judo </div>
		<div>Supervised Gym </div>
		<div>&nbsp</div>
		<div>Sauna </div>
		<div>Massage </div>
	</div>



{% endblock content %}
