{% extends 'mainpage/base.html' %}

{% block title %}
GymHouse - Services
{% endblock title %}

<!-- Overwrite the original menu and test prints from base.html with nothing -->
{% block test %} {% endblock test %}
{% block menu %} {% endblock menu %}

{% block pagetitle %}
    Services
{% endblock pagetitle %}

{% block content %}

	<ul>
		<li>Supervised Gym </li>
		<li>High Intensity Interval Training </li>
		<li>Lifting Basics </li>
		<li>Kettleball Training</li>
		<li>Pilates </li>
		<li>Yoga </li>
		<li>Zumba </li>
		<li>Pet Acrobatics </li>
		<li>Salsa </li>
		<li>Judo </li>
		<li>Supervised Gym </li>
		<li>Supervised Gym </li>
		<li>&nbsp</li>
		<li>Sauna </li>
		<li>Massage </li>
		<li> idk </li>
	</ul>



{% endblock content %}