{% extends 'mainpage/base.html' %}
{% load staticfiles %}

{% block title %}
GymHouse - Services
{% endblock title %}

{% block head %}
	<link href="{% static 'css/trainers.css' %}" rel="stylesheet">
{% endblock head %}

<!-- Overwrite the original menu and test prints from base.html with nothing -->
{% block test %} {% endblock test %}
{% block menu %} {% endblock menu %}

{% block pagetitle %}
    Our Trainers
{% endblock pagetitle %}

{% block content %}

	{% for trainer in trainers %}
		{% with trainer.level as level %}
	<div class="card">
		{% if trainer.image %}
			<img src={{ profile.image.url }} alt="Card image cap" style="width:100%">
		{% else %}
			<img src='https://www.placehold.it/300x300' alt="Card image cap" style="width:100%">
		{% endif %}
		<div>
			<h4><b>{{trainer.first_name}} {{trainer.last_name}}</b></h4>
			<p>Age: {{trainer.age}}</p>
			<p>Level: {{ trainer_lvl|get_item:level }}</p>
		</div>
	</div>
		{% endwith %}
	{% endfor %}


{% endblock content %}
